---
// astro
import { getCollection, getEntry, render } from 'astro:content'
import type { GetStaticPaths } from "astro"

// self
import Layout from "!layouts/layout.astro"
import { title } from "!root/consts.js"

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection('stack')
  return posts.map((post: any) => ({
    params: { slug: post.id },
    props: post,
  }))
}

// @ts-expect-error
const post: any = await getEntry('stack', Astro.props.id)
const { Content } = await render(post)
---
<Layout title={title}>
  <div class="prose">
    <h2>{post.data.title}</h2>
    <Content />
  </div>
</Layout>
