---
// astro
import { getCollection } from 'astro:content'

// self
import Layout from "!layouts/layout.astro"
import { title } from "!root/consts.js"

const allBlogPosts = await getCollection('stack')

function byDate(a: any, b: any) {
	if (a.data.pubDate > b.data.pubDate) return 1
	if (a.data.pubDate < b.data.pubDate) return -1
	return 0
}
---
<Layout title={title}>
	<ol class="list-decimal mx-6 my-4">
		{allBlogPosts.sort(byDate).map((post: any) => {
			return <li><a href={post.id}>{post.data.title}</a></li>
		})}
	</ol>
</Layout>
