---
// astro
import { getCollection, getEntry, render } from 'astro:content'

// self
import Hello from "!solid/hello.tsx"
import Layout from "!layouts/layout.astro"
import { title } from "!root/consts.js"

const allBlogPosts = await getCollection('stack')
console.log("allBlogPosts", allBlogPosts)

// const graceHopperProfile = await getEntry('stack', 'hop')

// console.log(graceHopperProfile)

// const { Content } = await render(graceHopperProfile)
// console.log(JSON.stringify(headings, null, 2))
// <Content />
---
<Layout title={title}>
	<Hello name="Bob" />
	<ol>
		{allBlogPosts.map((post: any, i: number) => {
			return <li>{i} {post.id} {post.data.title}</li>
		})}
	</ol>
</Layout>